:root {
    --clr-bg-main-blue: hsl(233, 47%, 7%);
    --clr-bg-card-blue: hsl(244, 38%, 16%);
    --clr-accent-violet: hsl(277, 64%, 61%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-transparent-paragraph: hsla(0, 0%, 100%, 0.75);
    --clr-transparent-headings: hsla(0, 0%, 100%, 0.6);
    --clr-transparent-img: hsla(277, 84%, 55%, 0.5);

    --fs-m: 0.9375rem;
    --fs-s: 0.8rem;
    --fs-l: 1.2rem;

    --fw-m: 400;
    --fw-l: 700;

    --ff-main: 'Inter', sans-serif;
    --ff-accent: "Lexend Deca", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--ff-main);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    background-color: var(--clr-bg-main-blue);
    color: var(--clr-transparent-paragraph);
}

main {
    display: flex;

    width: 80%;
    max-width: 750px;
    margin: auto;
}

.card {
    padding: 3em;
    background-color: var(--clr-bg-card-blue);
    width: 55%;
}

.img {
    width: 45%;
    background-color: var(--clr-transparent-img);
    z-index: 1;
}

img {
    opacity: 0.4;
}

h1 {
    color: var(--clr-transparent-headings);
}

span {
    color: var(--clr-accent-violet);
}

.content {
    padding: 1.5em 0 3em;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.text {
    text-transform: uppercase;
}

img {
    width: 100%;
}

.attribution { 
    font-size: 0.625rem; 
    margin-bottom: 0.5em;
    color: var(--clr-transparent-headings);
}

.attribution a {
    color: var(--clr-accent-violet); 
}

main{
    /* outline: 2px solid red; */
}
.card {
    outline: 5px solid pink;
}
.img {
    outline: 3px dotted orange
}